<div id="logreg-forms">
  <form class="form-signin" action="/login" method="POST">
    <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Iniciar Sesión</h1>
    <div class="social-login">
      <a class="btn btn-block btn-social btn-github"> <i class="fab fa-github"></i> Inicia con Github </a>
    </div>
    <br> </br>
    <input type="email" id="inputEmail" class="form-control" placeholder="Correo" name ="email"required="" autofocus="">
    <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" name ="password"  required="">
    <br> </br>
    <button class="btn btn-success1 btn-block" type="submit"><i class="fas fa-sign-in-alt"></i> Iniciar</button>
    <hr>
  </form>
</div>
