<h2>WELCOME</h2>

<a class = "createPost" href="create a post">create new post</a>
<a href="return">return</a>

<button></button>

<div>
  <img src="{{photoURL}}">
  <p>{{loggedUser.name}}</p>
</div>


<h2>MY CONTRIBUTIONS</h2>

<h2>PENDING</h2>


