.main-container-box {
  margin: 0px;
  background-image: linear-gradient(to bottom right, #80dfff, #ccffff, #70db70);
  height: 100vh;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

a {
  color: #00b7ff; }

#logreg-forms {
  width: 500px;
  height: 500px;
  background-color: RGBA(243, 243, 243, 0.44);
  border-radius: 40px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

#logreg-forms form {
  width: 100%;
  max-width: 410px; }

#logreg-forms .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  font-size: 16px;
  border-radius: 30px;
  margin-bottom: 20px; }

#logreg-forms .form-control:focus {
  z-index: 2; }

#logreg-forms .form-signin input[type="email"] {
  margin-bottom: 20px;
  border-radius: 30px;
  height: 40px; }

#logreg-forms .form-signin input[type="password"] {
  margin-bottom: 20px;
  border-radius: 30px;
  height: 40px; }

#logreg-forms .social-login {
  width: 350px;
  margin: 0 auto;
  margin-bottom: 14px; }

#logreg-forms .social-btn {
  font-weight: 100;
  color: white;
  width: 190px;
  font-size: 0.9rem; }

#logreg-forms a {
  display: block;
  color: white;
  text-align: center; }

#logreg-form .lines {
  width: 200px;
  border: 1px solid; }

.btn-success1 {
  color: #fff;
  background-color: #29a3a3;
  border-radius: 30px; }

#logreg-forms .form-reset,
#logreg-forms .form-signup {
  display: none; }

#logreg-forms .form-signup .social-btn {
  width: 210px; }

.form-signup .social-login {
  width: 210px !important; }

.bolita {
  background: #29a3a3;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: white;
  margin-top: -50px;
  margin-bottom: 30px; }

.auth-inputs {
  border-radius: 30px;
  margin-bottom: 20px; }

a p {
  color: #29a3a3; }

.sideNav {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: #29a3a3;
  overflow-x: hidden;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.nav-bar {
  height: 50px;
  width: 80%;
  position: fixed;
  background-color: #80dfff;
  z-index: 2;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 35px;
  color: #383838; }

.profile-body {
  height: 100%;
  width: 80%;
  position: fixed;
  background-image: linear-gradient(to bottom right, #80dfff, #ccffff, #70db70);
  z-index: 1;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  padding-bottom: 20px; }

.logo-container {
  height: 190px;
  display: flex;
  justify-content: center;
  align-items: center; }

.logo {
  width: 180px; }

.favoritos {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.add-fav {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2c2c2c;
  font-size: 20px; }

.fav {
  width: 120%;
  height: 50px;
  background-color: #f3f3f3;
  border-radius: 20px;
  font-size: 30px;
  margin: 20px;
  color: #444444;
  display: flex;
  justify-content: center;
  align-items: center; }

.fav-title {
  width: 200%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -80px; }

.createPost {
  font-size: 20px;
  margin-right: 20px;
  margin-left: 20px; }

.return {
  margin-left: 20px; }

.profile-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.pic {
  width: 250px;
  height: 250px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px; }

.pic img {
  width: 230px;
  height: 230px;
  border-radius: 50%; }

.sources {
  display: flex;
  justify-content: space-between; }

.sources h2 {
  margin: 100px; }

.buttonfav {
  border: none;
  box-shadow: none;
  background-color: #f3f3f3;
  outline: none; }

.buttonfav:focus {
  box-shadow: none;
  outline: none; }

.buttonfav:hover {
  transform: translateY(4px);
  scaleY: 35px; }

.buttonReturnPost {
  width: 20px;
  display: flex;
  margin-right: -5%;
  margin-bottom: 250px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 35px;
  color: #383838; }

.blockCreate {
  justify-content: flex-start;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  margin-top: -50px;
  margin-bottom: 30px; }

.table-body {
  display: flex;
  justify-content: flex-start;
  padding-top: 80px; }

.validation {
  text-align: center; }

.check {
  font-size: 20px;
  color: green; }

.wrong {
  font-size: 20px;
  color: red; }

.profile-body h1 {
  margin-top: -60px;
  margin-bottom: 150px; }

.create-post {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px; }

.new-post-border {
  background: #29a3a3;
  width: 40%;
  height: 90%;
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%; }

.new-post-border input {
  border-radius: 20px;
  margin-bottom: 50px; }

.new-post-border textarea {
  border-radius: 20px;
  margin-bottom: 50px;
  width: 378px;
  height: 178px; }

.new-post-border button {
  border-radius: 20px;
  width: 170px;
  height: 40px;
  margin-right: 5px;
  margin-left: 5px; }

.down-buttons {
  display: flex;
  justify-content: space-between; }

.buttonProfileBlue {
  width: 200px !important;
  height: 60px !important;
  font-size: 20px;
  border-color: #1e90ff; }

.buttonProfileGreen {
  width: 200px !important;
  height: 60px !important;
  font-size: 20px;
  border-color: #228b22; }

/* Mobile */
@media screen and (max-width: 500px) {
  .sideNav {
    width: 200px; }
  #logreg-forms {
    width: 300px; }
  #logreg-forms .social-login {
    width: 200px; }
  #logreg-forms .social-btn {
    font-size: 1.3rem;
    font-weight: 100;
    color: white;
    width: 200px; }
  #logreg-forms .social-btn span {
    display: none; }
  #logreg-forms .github-btn:after {
    content: "Github"; } }

.navbar {
  border-radius: 0px;
  margin-bottom: 0px; }

@media (min-width: 768px) {
  .navbar-collapse
.collapse {
    display: none; } }

h1 {
  font-size: 36px !important;
  color: var(--text-bg-color) !important;
  font-weight: 100 !important; }

h2 {
  font-size: 26px !important;
  color: var(--text-bg-color) !important;
  font-weight: 100 !important; }

p {
  color: var(--text-bg-color) !important; }

img.logotipo {
  width: 111px;
  height: 111px; }

.align-center {
  margin-left: auto;
  margin-right: auto;
  display: block; }

.circle {
  height: 100px;
  width: 100px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block; }

.container-login {
  padding: 24px;
  margin: 5%;
  background: #fff;
  -webkit-box-shadow: 0px 3px 4px 0px #000000;
  box-shadow: 0px 3px 4px 0px #9e9c9c; }

.a-primary {
  color: var(--acent-bg-color) !important; }

.btn-dark {
  color: #FFFF !important;
  background: var(--acent-bg-color) !important;
  border-color: var(--acent-bg-color) !important;
  border-radius: 100px !important; }

.btn-primary-outlet {
  color: white;
  border-color: var(--acent-bg-color) !important;
  border-radius: 100px !important; }

.btn-primary-outlet:hover {
  color: #29A3A3 !important;
  background: var(--acent-bg-color) !important; }

input {
  padding: 10px 10px 10px 5px !important;
  display: block !important;
  border: none !important;
  border-radius: 8px !important;
  border-bottom: 1px solid #757575 !important; }

input:focus {
  outline: none;
  border-bottom: 1px solid var(--acent-bg-color) !important;
  box-shadow: none !important;
  color: var(--acent-bg-color) !important; }

::placeholder {
  color: #757575 !important;
  opacity: 1;
  /* Firefox */ }

select.select-text {
  border: none;
  border-bottom: 1px solid #757575;
  border-radius: 0px;
  -webkit-appearance: none;
  -webkit-border-radius: 0px; }

select.select-text:focus {
  border-bottom: 1px solid var(--acent-bg-color); }

select.minimal {
  background-image: linear-gradient(45deg, transparent 50%, var(--acent-bg-color) 50%), linear-gradient(135deg, var(--acent-bg-color) 50%, transparent 50%), linear-gradient(to right, #fff, #fff);
  background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat; }

select.minimal:focus {
  background-image: linear-gradient(45deg, var(--acent-bg-color) 50%, transparent 50%), linear-gradient(135deg, transparent 50%, var(--acent-bg-color) 50%), linear-gradient(to right, #fff, #fff);
  background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em, calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
  outline: 0; }

.m-l-64 {
  margin-left: 64px !important; }

.m-r-64 {
  margin-right: 64px !important; }

.btn-small-width {
  width: 30% !important; }

ul.steps {
  padding: 0px;
  margin-top: 5px; }

ul.steps > li {
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  line-height: 1.5em;
  border-radius: 1em;
  background: var(--acent-bg-color);
  margin: 0 1em;
  display: inline-block;
  color: white;
  position: relative; }

.uploader {
  position: relative;
  text-align: center;
  padding: 1em 0;
  margin: 1em 0;
  color: #555;
  border: 2px dashed #888;
  border-radius: 7px;
  cursor: default; }

#photo {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  left: 0;
  right: 0;
  width: 100%;
  top: 0;
  bottom: 0; }

.p-2 {
  padding-top: 4%; }

.bg-container {
  background-image: url("https://images.unsplash.com/photo-1547954575-855750c57bd3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.img-logotipo {
  width: 190px;
  height: auto; }

.bg-myback {
  background: #29A3A3; }

.btn-outline-secondary {
  color: #ffffff !important;
  background-color: transparent !important;
  background-image: none !important;
  border-color: #ffffff !important;
  border-radius: 50px !important; }

.btn-outline-secondary:hover {
  color: #fff !important;
  background-color: #00b7ff !important;
  border-color: #00b7ff !important; }

.btn-outline-secondary.focus, .btn-outline-secondary:focus {
  box-shadow: 0 0 0 0.2rem rgba(130, 48, 223, 0.5) !important; }

.nav-link {
  color: #ffffff  !important;
  font-size: 25px; }

.headline {
  color: #fff !important;
  font-size: 55px !important;
  font-weight: 100 !important;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4) !important; }

.headline-sub {
  color: #fff !important;
  font-size: 40px !important;
  font-weight: 100 !important;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4) !important;
  text-align: center;
  padding-top: 30px; }

.left-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  padding-top: 20%; }

.max-button {
  max-width: 300px !important; }

.key-selling {
  padding: 2em; }

.ico-key {
  padding: 24px; }

h3 {
  font-weight: 100 !important; }

.rounded-img {
  width: 200px;
  height: 200px;
  border-radius: 500px; }

.historia-interna {
  padding: 2em; }

.history {
  background: #29A3A3;
  padding-top: 2em; }

.m-t-20 {
  padding-top: 20px; }

.card {
  margin-bottom: 20px; }

.card-animal {
  padding: 20px; }

.carousel-inner {
  height: 50vh; }

/**
* Queries
*/
@media only screen and (max-width: 600px) {
  .btn-small-width {
    width: 100% !important; }
  .m-r-64 {
    margin-right: 6px !important; }
  .m-l-64 {
    margin-left: 6px !important; }
  .bg-container {
    background-image: url("https://images.unsplash.com/photo-1547954575-855750c57bd3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: -60px;
    text-align: center; }
  .left-content {
    text-align: center; }
  .m-auto {
    margin: 0 auto; } }

.p-b-20 {
  margin-bottom: 20px; }

.sidebar {
  display: none; }

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 69px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
    background-color: #30E3CA;
    border-right: 1px solid #eee; } }

.bg-dark {
  background-color: #40514E !important; }

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px;
  /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px; }

.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px; }

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33; }

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857; }

.links-sidebar a {
  color: white; }

.white-board {
  width: auto;
  height: 300px;
  background: red; }

/*# sourceMappingURL=style.css.map */