{{!-- {{!-- <side-bar class="sideNav">
  <section class="logo-container">
    <img class="logo"
      src="../images/logocolor.png"
      alt="" srcset="">
  </section>
  <section class="favoritos">
    <div class="fav fav-title">
      <p>Favoritos</p>
    </div>

    <div class="fav" >
      <a href="/userData">
     <button class="buttonfav">
       <i class="fab fa-js-square"></i> Javascript
    </button> 
    </a>
    </div>
    
    <div class="fav">
      <i class="fab fa-html5"></i> HTML
    </div>
    <div class="fav">
      <i class="fab fa-css3-alt"></i> CSS
    </div>
  </section>
  <section>
    <div class="add-fav"><i class="fas fa-plus"></i></div>
  </section>
</side-bar>

<nav class="nav-bar">
  <i class="fas fa-arrow-circle-left return"></i>
  <a class="createPost" href="/createPost">create new post</a>
</nav>

 --}}

<div>
<nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    <a class="navbar-brand mr-1" href="/">Wat Da Hack</a>

    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Navbar Search -->
    <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
      <div class="input-group">
        
      </div>
    </form>

    <!-- Navbar -->
    <ul class="navbar-nav ml-auto ml-md-0">
      <li class="nav-item">
        <a class="nav-link" href="../auth/login">
          <i class="fas fa-user-circle fa-fw"></i>
        </a>
      </li>
    </ul>

  </nav>
</div>


  <div id="wrapper">
    <ul class="sidebar navbar-nav">
      <section class="logo-container2">
 <img src="https://content-static.upwork.com/uploads/2014/10/01073427/profilephoto1.jpg" alt="" srcset="">
    <h4> {{loggedUser.name}}</h4>
  </section>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-fw fa-folder"></i>
          <span>Lenguajes</span>
        </a>
        <li class="links-sidebar">
        <li class="links-sidebar"><a href="#"><i class="fab fa-js-square"></i> Javascript</a></li>
        <li class="links-sidebar"><a href="#"><i class="fab fa-html5"></i>html</a></li>
        <li class="links-sidebar"><a href="#"><i class="fab fa-css3-alt"></i> CSSCss</a></li>
      </li>
    </ul>
</div>

<div class="white-board">


</div> --}}