<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-myback sticky-top">
  {{!-- <a class="navbar-brand" href="/"><img class="img-logotipo" src="../images/logo2.png"></a> --}}
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse " id="navbarText">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#acerca">About <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <a href="/auth/login" class="btn btn-outline-secondary">Login</a>
  </div>
</nav>
<!--Cover-->
<div class="bg-container">
  <div class="container">
    <div class="row">
      <div class="col ">
        <div class="left-content">
          <img class="img-logotipo" src="../images/logo2.png">
        </div>
        <br>
        <br>
        <h3 class="headline-sub">share your knowledge</h3>
        <br>
        <br>
        <a href="auth/signup"
          class="m-auto max-button btn btn-lg btn-block btn-outline-primary btn-primary-outlet btn-circle register-button">Signup</a>
      </div>
    </div>
  </div>
</div>
<!--Introduction-->
<div class="key-selling container" id="acerca">
  <div class="row">
    <div class="col text-center">
      <h3>Advantages</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-4 col-lg-4 text-center">
      <img class="img-responsive ico-key" src="https://img.icons8.com/pastel-glyph/100/000000/groups.png">
      <h3>Be part of the Ironhack community</h3>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4 text-center">
      <img class="img-responsive ico-key" src="https://img.icons8.com/ios/100/000000/learning.png">
      <h3>Learn from others</h3>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4 text-center">
      <img class="img-responsive ico-key" src="https://img.icons8.com/ios/100/000000/nui2.png">
      <h3>Resources within the reach of a click</h3>
    </div>
  </div>
</div>
<!--Description-box-->
<div class="history">
  <div class=" container">
    <div class="row">
      <div class="col text-center">
        <h3>Wat Da Hack</h3>
      </div>
    </div>
    <div class="row historia-interna">
      <div class="col">
        <img class="img-responsive rounded-img" src="../images/mybatch.jpeg">
        
      </div>
      <div class="col">
        <p>Every day at ironhack is a challenge,  like ironhackers  we know   the  hard work to  learn a lot of  commands  in Javascript or maybe  remember something in  html and css . 
<br>
<br>
Our second project is a glossary  so easy to use,  so  everyone can upload  commands  with a little description.  
</p>
      </div>
    </div>
  </div>
</div>
<!--Footer-->
<footer class="page-footer font-small blue">
  <div class="footer-copyright text-center py-3">© 2019 all rights reserved:
  Made with &#128153 to  <a href="https://www.ironhack.com/">  ironhack</a>
  </div>
</footer>