<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-myback sticky-top">
  {{!-- <a class="navbar-brand" href="/"><img class="img-logotipo" src="../images/logo2.png"></a> --}}
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse " id="navbarText">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <a href="/auth/login" class="btn btn-outline-secondary">Login</a>
  </div>
</nav>
<!--Cover-->
<div class="bg-container">
  <div class="container">
    <div class="row">
      <div class="col ">
        <div class="left-content">
          <img class="img-logotipo" src="../images/logo2.png">
        </div>
        <br>
        <br>
        <h3 class="headline-sub">Comparte tu conocimiento</h3>
        <br>
        <br>
        <a href="auth/signup"
          class="m-auto max-button btn btn-lg btn-block btn-outline-primary btn-primary-outlet btn-circle">Registrate</a>
      </div>
    </div>
  </div>
</div>
<!--Introduction-->
<div class="key-selling container">
  <div class="row">
    <div class="col text-center">
      <h3>Estos son los beneficios</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-4 col-lg-4 text-center">
      <img class="img-responsive ico-key" src="https://img.icons8.com/pastel-glyph/100/000000/groups.png">
      <h3>Formar parte de la comunidad de Ironhack</h3>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4 text-center">
      <img class="img-responsive ico-key" src="https://img.icons8.com/ios/100/000000/learning.png">
      <h3>Aprender de los demás</h3>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4 text-center">
      <img class="img-responsive ico-key" src="https://img.icons8.com/ios/100/000000/nui2.png">
      <h3>Recursos al alcance de un click</h3>
    </div>
  </div>
</div>
<!--Description-box-->
<div class="history">
  <div class=" container">
    <div class="row">
      <div class="col text-center">
        <h3>Wat Da Hack</h3>
      </div>
    </div>
    <div class="row historia-interna">
      <div class="col">
        <img class="img-responsive rounded-img" src="/">
        
      </div>
      <div class="col">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin venenatis ullamcorper convallis. Pellentesque
          porttitor
          justo ante, vitae pellentesque turpis fringilla ut. Curabitur vitae semper metus. Nam lacus diam, egestas eu
          lacinia
          et, lacinia vel justo. Suspendisse et pulvinar justo. Sed fermentum turpis non purus pharetra, sed tempor dui
          pulvinar.
          Nam lobortis commodo ligula non tempor. Integer aliquam suscipit nibh, id aliquam mi egestas in.</p>
      </div>
    </div>
  </div>
</div>
<!--Footer-->
<footer class="page-footer font-small blue">
  <div class="footer-copyright text-center py-3">© 2019 all rights reserved:
  Made with &#128153 to  <a href="https://www.ironhack.com/">  ironhack</a>
  </div>
</footer>